@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    /* font-family: ; */

}
body{
 font-family: 'Josefin Sans', sans-serif;

}
/* h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;
} */
.navbar{
    background-color: #018786;
    height: 80px;
}
.navbar-brand{
    color: #fff !important;
    font-weight: bold;
    font-size: 3rem !important;
}
.btn-primary{
    background-color: #fff !important;
    color: #018786 !important;
}
.btn-primary :focus{
    background-color: #5e2727 !important;
    color: #018786 !important;
}
.btn-primary :target{
    background-color: #1141b1 !important;
    color: #018786 !important;
}
.form-select {
    width: 200px !important;
}
.card-body {height: 100%;display: flex;flex-direction: column; transition:all 0.5s;}
.card-body:hover{
transform: translateY(-5px);
}
.card {
    height: 100% !important;
    transition: all 0.5s;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-body h3{
    margin-top: auto;
}
.img_holder {
    overflow: hidden;
}
.card-body:hover .img_holder img {transform: scale(1);}

.img_holder img {
    transition: all 0.5s;
    transform: scale(1.2);
}
h1.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}
.card-body h3 {
    font-size: 1.2rem;
    font-weight: 600;
}
span.title_year {
    font-size: 47%;
    color: #fff;
    position: absolute;
    top: 22px;
    right: 22px;
    background: black;
    padding: 0.4rem;
    border-radius: 6px;
}
.color-hodler {
    display: flex;
    align-items: center;
}

span.color_sp {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    background: transparent;
    margin-right: 1rem;
    margin-top: 0.6rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



